*{
    color: white;
}

.center-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.center-box2 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
}
.info-box {
  position: absolute;
  width: 787px;
  top: 40%;
  left: 30%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 1;
}
.section{
  background-color: rgba(255, 255, 255, 0.2);
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  margin: 20px
}

.button{
  background: transparent;
  padding: 5px 15px;
  width: fit-content;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 25px;
  outline: none;
  cursor: default;
  overflow: hidden;
  color: rgb(255, 255, 255);
  transition: color 0.3s 0.1s ease-out;
  margin: 0px 0 10px 0;
}
.button:hover{
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

body {
    height: 100vh;
    background: linear-gradient(50deg, #06474d 0%, #99151d 25%, #813d9c 50%, #25476f 75%);
    background-size: 200% 200%; animation: animated-gradient-flow 15s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes animated-gradient-flow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
#infoDiv{
    display: none;
}
#trabajoDiv{
    display: none;
}
#meDiv{
    display: none;
}

.icon {
    margin: 20px;
    text-decoration: none;
    cursor: pointer;
    transition: transform .2s;
}
.icon:hover{
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
img{
    transition: transform .2s;
}
img:hover{
    transform: scale(1.03); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */ 
}

i{
    color: white;
}

.footer-box {
  position: absolute;
  top: 90%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

